// @import url('../../node_modules/lucide-static/font/lucide.css');
// files generated and copied from "lucide-static": "^0.559.0" package (removed a not used 7mb .svg font file to improve build size)
@import url('../../public/fonts/icons/lucide.css');
